h2 {
    text-align: center;
    font-family: Tinos;
    font-size: 24px;
    font-weight: normal;
}

.csv_load_window {
    text-align: center;
    margin-top: 1em;
    color: inherit;
    font-family: Tinos;
    font-size: 24px;
    border: 1px solid #ddd;
    width: 450px;
    padding: 5px 5px;
    border-radius: 0px;
    background-color: #F9F9F9;
}

.savecsv {
    border: 1px solid #ddd;
    font-family: Tinos;
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 30px;
    width: 130px;
    text-align: center;
}

.tech_data_input {
    font-family: Tinos;
    font-size: 16px;
    width: 220px;
}

.strip_input {
    font-family: Tinos;
    font-size: 16px;
    width: 220px;
}

.swath_input {
    font-family: Tinos;
    font-size: 16px;
    width: 220px;
}

.tech_data_input {
    float: none;
    margin-right: 0em;
    height: 100%;
}

.strip_input {
    float: none;
    margin-right: 0em;
    height: 100%;
}

.swath_input {
    float: none;
    margin-right: 0em;
    height: 100%;
}