input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: Tinos;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 5px;
}

h2 {
    font-family: Tinos;
    font-size: 24px;
    font-weight: normal;
}

input {
    background-color: #FFFFFF;
    border-radius: 0px;
    border: 1px solid;
    border-color: #ddd;
    float: right;
    margin-right: 2em;
    margin-left: auto;
}

.modelinputs {
    margin-left: 2em;
}

input:focus{
    outline: 1px solid black;
}

input[type='checkbox'] {
    border: 1px solid black;
    outline: 2px;
    margin-right: 8em;
}


.modelinputswindow {
    float: left;
    margin: auto;
    display: grid;
    text-align: left;
    color: inherit;
    font-family: Tinos;
    font-size: 24px;
    border: 1px solid #ddd;
    width: 450px;
    padding: 5px 5px;
    border-radius: 0px;
    background-color: #F9F9F9;
}

.modelresultswindow {
    float: right;
    margin: auto;
    display: grid;
    text-align: left;
    color: inherit;
    font-family: Tinos;
    font-size: 22px;
    border: 1px solid #ddd;
    width: 450px;
    padding: 5px 5px;
    border-radius: 0px;
    background-color: #F9F9F9;
}

.inputbuttons {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.inputbuttons * {
    border: 1px solid #ddd;
    font-family: Tinos;
    font-size: 22px;
    font-weight: normal;
    margin-left: 25px;
    margin-right: 25px;
    height: 30px;
    width: 130px;
}

.inputcell {
    display: flex;
    align-items: center;
}

.rescell {
    display: flex;
    align-items: center;
}

.algonum {
    float: left;
    width: 40px;
}

.algores {
    float: left;
}

.results {
    margin-left: 10px;
}

.results * {
    margin-bottom: 3px;
}

.warningresults {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Tinos;
    font-size: 18px;
    font-weight: bold;
}

.resarea {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 3em;
    justify-content: right;
}

.showres {
    text-align: center;
    border: 1px solid #ddd;
    font-family: Tinos;
    font-size: 22px;
    font-weight: normal;
    height: 30px;
    width: 200px;
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalcontent1 {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #F9F9F9;
}

.modalcontent1 * {
    display: flex;
    align-items: center;
    justify-content: center;
}