.modelsbuttons {
    display: grid;
    margin: 1em;
    width: 10%;
    float: left;
}

.workingWindow {
    display: grid;
}

.modelsbuttons * {
    padding: 4px 4px;
}

button {
    font-family: Tinos;
    color: #F2F2F2;
    font-size: 16px;
    border-radius: 0px;
    border-width: 0px;
    border-left: 2px solid #F2F2F2;
    background-color: #17375E;
}

button:hover:enabled {
    text-decoration: underline;
    cursor:pointer;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
