input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.latexsymbols {
    margin-left: 2em;
    display: grid;
    float: left;
}

.latexsymbols * {
    margin-bottom: 2px;
}

.inputs * {
    margin-bottom: 22px;
}

.inputs {
    margin-top: 8px;
    float: right;
    margin-right: 8em;
    display: grid;
    width: 10%;
}

h1 {
    text-align: center;
    font-family: Tinos;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 5px;
}

h2 {
    font-family: Tinos;
    font-size: 24px;
    font-weight: normal;
}

input {
    margin-left: 10px;
    background-color: #FFFFFF;
    border-radius: 0px;
    border: 1px solid;
    border-color: #ddd;
}

input:focus{
    outline: 1px solid black;
}

input[type='checkbox'] {
    width: 7%;
    outline: 0px;
}


.modelinputswindow {
    float: left;
    margin: auto;
    display: grid;
    text-align: left;
    color: inherit;
    font-family: Tinos;
    font-size: 24px;
    border: 1px solid #ddd;
    width: 450px;
    padding: 5px 5px;
    border-radius: 0px;
    background-color: #F9F9F9;
}

.inputbuttons {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.inputbuttons * {
    border: 1px solid #ddd;
    font-family: Tinos;
    font-size: 22px;
    font-weight: normal;
    margin-left: 25px;
    margin-right: 25px;
    height: 30px;
    width: 130px;
}